name: Build and Deploy WAR to Tomcat

on:
  push:
    branches:
      - main   # Trigger on pushes to main branch
  workflow_dispatch: # Allows manual trigger

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      ANSIBLE_HOST_KEY_CHECKING: "False"  # avoids SSH key prompt
      INVENTORY_FILE: Infrastructure/inventory.ini
      PLAYBOOK_FILE: Infrastructure/ansible-playbook/deploy-war.yml
      TOMCAT_USER: ec2-user
      TOMCAT_HOST: ${{ secrets.EC2_HOST }}
      TOMCAT_SSH_KEY: ${{ secrets.EC2_SSH_KEY }}

    steps:
    # 1. Checkout repository
    - name: Checkout code
      uses: actions/checkout@v3

    # 2. Set up Java
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        distribution: temurin
        java-version: 11

    # 3. Build WAR using Maven
    - name: Build WAR
      run: mvn clean package

    - name: Verify WAR output
      run: |
          pwd
          ls -lh target

    - name: Capture WAR file
      run: |
          echo "WAR_FILE=$(ls target/*.war)" >> $GITHUB_ENV

    - name: Show WAR path
      run: |
          ls -lh $WAR_FILE

    # 4. Install Ansible
    - name: Install Ansible
      run: |
        sudo apt-get update
        sudo apt-get install -y ansible sshpass

    # 5. Set up SSH key for EC2
    - name: Configure SSH Key
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.EC2_SSH_KEY }}" > /home/runner/.ssh/WinAccessKey.pem
        chmod 600 /home/runner/.ssh/WinAccessKey.pem
        ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/known_hosts

    # 6. Run Ansible Playbook to deploy WAR
    - name: Deploy WAR to Tomcat
      run: |
        ansible-playbook -i $INVENTORY_FILE $PLAYBOOK_FILE -e "war_file=/home/runner/work/simple-java-docker/simple-java-docker/target/java-webapp-1.0.0.war"
